.displaybox{
    margin: 10px;
    position: relative;
    min-height: 100px;
    min-width: 100px;
    background-color: red;
    display: flex;
    justify-content: center;
    align-items: center;
}